<h2>Edit a Restaurant:</h2>
<div *ngIf="restaurantDataAvailable" class="formDiv">
  <form (submit)="onSubmit($event)">
      <label>Restaurant name:</label>
      <input type="text" class="textInput" name="restaurant['data'][0][name]" [(ngModel)]="restaurant['data'][0]['name']" value="restaurant['data'][0]['name']" />
      <p *ngIf="error1Present" class="purpleText" >{{ error1Message }}</p>
      <p *ngIf="errorsPresent" class="purpleText" >{{ errorMessage }}</p>
      <label>Cuisine:</label>
      <input type="text" class="textInput" name="restaurant['data'][0][cuisine]" [(ngModel)]="restaurant['data'][0]['cuisine']" value="restaurant['data'][0]['cuisine']" />
      <p *ngIf="error2Present" class="purpleText" >{{ error2Message }}</p>
      <div class="buttonDiv">
          <button [routerLink]="['/dashboard']" class="blueButton">Cancel</button>
          <input class="blueButton subButton" type="submit" value="Submit" />
      </div>
  </form>
</div>
